<div class="container flex-box">
  <div class="form-row row d-flex justify-content-center">
    <div class="col-sm-4 align-self-center">
      <label for="aisles">Aisle</label>
      <select (change)="getProducts()" [(ngModel)]="Aisle" class="form-control" id="sel2">
        <option id="aisles" *ngFor="let aisle of Aisles">{{ aisle }}</option>
      </select>
    </div>
    <div class="col-sm-4 align-self-center">
      <label for="bins">Bin</label>
      <select (change)="getProducts()" [(ngModel)]="Bin" class="form-control" id="sel1">
        <option id="bins" *ngFor="let bin of Bins">{{ bin }}</option>
      </select>
    </div>
  </div>
</div>
<div class="flex-box">
  <div class="d-flex justify-content-center">
    <div class="grid-container col-sm-4 ">
      <div *ngFor="let productsList of Products; let x = index">
        <div (click)="cellClicked(x,y)" class="grid-item" [class.active]="selectedX == x && selectedY == y"
          [class.hasItem]="product.name" *ngFor="let product of productsList; let y = index"></div>
      </div>
    </div>
  </div>
</div>
<div class="container flex-box">
  <div class="form-row row d-flex justify-content-center">
    <div class="col-sm-4 align-self-center">
      <label for="name">Product Name</label>
      <input [attr.disabled]="selectedProduct._id" [value]="selectedProduct.name" type="name" class="form-control" id="sel2"
        (input)="selectedProduct.name = $event.target.value">
    </div>
    <div class="col-sm-4 align-self-center">
      <label for="bins">attributes</label>
      <ng-multiselect-dropdown  [placeholder]="'attributes'" [data]="dropdownList" [(ngModel)]="selectedItems"
        [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
      </ng-multiselect-dropdown>
    </div>
    <div class="d-flex col-sm-1 align-items-end">
      <button (click)="add()" [attr.disabled]="selectedProduct._id" class="btn btn-primary" type="button">Add</button>
    </div>
    <!-- <div class="d-flex col-sm-1 align-items-end">
            <button (click)="update()" class="btn btn-success" type="button">Update</button>
          </div> -->
    <div class="d-flex col-sm-1 align-items-end">
      <button (click)="delete()" class="btn btn-danger" type="button">Delete</button>
    </div>
  </div>
</div>