.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    /* background-color: #2196F3;
    padding: 10px; */
    margin: 10px;
  }
  .grid-item {
    background-color: grey;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .container{
    margin-top: 10px;
  }

  .hasItem {
    background-color: lightblue;
  }

  .active {
    background-color: yellow;
  }

  .btn-primary{
    width: 71.625px;
  }